
<h1 style="text-align:center">All Cars</h1>
<h3>@Model.carCategory</h3>
<div class="row mt-5 mb-2"style="margin-left:20px">
    @{
        foreach (Car car in Model.allCars)
        {
            @Html.Partial("AllCars", car)
        }
}
</div>

